body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
		font-family: 'HelveticaLight', sans-serif;
		font-weight: normal;
		letter-spacing: 1px;
}


hr {
	height: 1px;
	color: #cecece;
	background-color: #cecece;
	border: none;
}



@font-face {
  font-family: 'HelveticaBold';
  src: url('../fonts/Helvetica-Bold.otf'); /* IE9 Compat Modes */
  
}

@font-face {
  font-family: 'HelveticaLight';
  src: url('../fonts/HelveticaLt.ttf'); /* IE9 Compat Modes */
  
}