body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
}
p, h1,h2,h3,h4,h5,h6{
    display: block;
}

#hero{
    width: 100%;

}
#hero h1{
        font-size: 5vh;
}
#hero p{
    font-size: 4vh;
}
/*
.hero-button{
    margin-top: 7vh;
    margin-bottom: 16.6vh;
    font-size: 4vh;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: 0.2vh solid black;
   
}
*/

.hero-box{
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(51, 54, 89);
    height: 30vh;
}
.hero-box:hover{
    background-color: #fff;
    color: #3438b0;
    transition: 0.3s;
    padding-top: 0.2em;
}
.hero-box i{

    font-size: 3em;
}
.hero-box p{
    display: block;
    text-align: center;
    font-size:2.4vh !important;
}

/*
#welcome-box{
    padding: 4vh 0 4vh 0;
}
*/


.welcome-info-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.welcome-ul{
    justify-content: center;
    align-items: center;
    display: flex;
}
.welcome-ul li{
    margin-top: 10px;
}
iframe{
    height: 40vh;
    width: 100%;
}


